* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: #F2F5F9;
}

.text--h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    color: #111729;
}
.text--body-md {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #4A5567;
}

.text--body-strong {
    font-size: 1rem;
    font-weight: 700;
    color: #111729;
}

.text--body-sm {
    font-size: 0.875rem;
    font-weight: 500;
    color: #4A5567;
}

.business-card {
    margin: 180px auto 0 auto;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.business-card__intro {
    display: flex;
    flex-direction: column;
    padding: 0px 32px 24px 32px;
    background-color: #fff;
    gap: 20px;
}

.business-card__media {
    position: relative;
}

.business-card__media-img {
    display: block;         
    width: 100%;
}

.business-card__media-overlay {
    position: absolute;     
    bottom: -1px;
    left: 0;
    width: 100%;
    display: block;
}

hr {
    opacity: 0.1;
}

.business-card__info {
    display: flex;
    gap: 12px;
    align-items: center;
}

.business-card__author-img {
    border-radius: 50%;
    border: 5px solid #F2F5F9;
}

